* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
  }
  
  :root {
    --text--color: RGB(211,219,221);
    --main--color: linear-gradient(270deg, rgb(73,230,115) 50%, rgb(93,154,169) 60%);
  }
  
  body {
    position: relative;
    height: 100vh;
    padding-top: 60px;
    background-color: rgb(8, 42, 45);
  }
  
  header {
    position: fixed;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 5px;
    top: 0;
    z-index: 1000;
  }
  
  .Logo {
    flex-basis: 25%;
    position: relative;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 200;
  }
  
  .Logo a {
    color: var(--text--color);
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .Logo p {
    font-weight: bold;
  }
  
  .mainInfo {
    flex-basis: 50%;
    text-align: center;
    height: 100%;
    padding-top: 10px;
  }
  
  .mainInfo a {
    position: relative;
    color: var(--text--color);
    text-decoration: none;
    padding: 50px;
    font-size: 1.5em;
  }
  
  .contact {
    flex-basis: 25%;
    text-align: center;
    height: 100%;
  }
  
  .contact button {
    width: 50%;
    height: 90%;
    border-radius: 20px;
    font-size: 1.5em;
  }
  
  section {
    height: 100vh; /* full screen height */
    margin: 0;
    padding: 20px;
  }
  
  /* Home */
  .homeSection {
    display: flex;
    position: relative;
    flex-direction: row;
    top: 200px;
    margin: 0 10%;
    background-color: black;
    border: solid 2px var(--text--color);
    border-radius: 20px;
    padding: 10px;
    color: var(--text--color);
  }
  
  .picAbout {
    margin: 10px;
    flex-basis: 20%;
  }
  
  .aboutMe,
  .Introduction {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 100px;
  }
  
  .aboutMe h1::first-letter,
  .Introduction h1::first-letter {
    font-size: 2em;
    background: var(--main--color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .Introduction h1 span,
  h2 span {
    background: var(--main--color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .aboutMe p span,
  h1 span,
  h2 span {
    background: var(--main--color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .aboutMe button,
  .Introduction button {
    border-radius: 20px;
    height: 30px;
    width: 100px;
    right: 0px;
    font-size: 1.1em;
    margin: 10px 5px;
  }
  
  /* About */
  .aboutSection {
    display: flex;
    position: relative;
    flex-direction: row;
    top: 200px;
    margin: 0 10%;
    background-color: black;
    border: solid 2px var(--text--color);
    border-radius: 20px;
    padding: 10px;
    color: var(--text--color);
  }
  
  .aboutSection .mainInfo {
    flex-basis: 50%;
    text-align: center;
    height: 100%;
    padding-top: 10px;
  }
  
  .projectsSection {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 200px;
    margin: 0 10%;
    background-color: black;
    border: solid 2px var(--text--color);
    border-radius: 20px;
    padding: 10px;
    color: var(--text-color);
  }
  
  .skillsTitle {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .skillsTitle h1 {
    font-size: 2.5em;
    border-bottom: 1px solid white;
    width: 100%;
    color: var(--text--color);
  }
  
  .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  
  .skills svg:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease; /* optional: smooth animation */
  }
  
  .skillsTitle,
  .projectsTitle {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .skillsTitle h1,
  .projectsTitle h1, 
  .contactContainer h1 {
    font-size: 2.5em;
    border-bottom: 1px solid white;
    width: 100%;
    color: var(--text--color);
  }
  
.projects {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 50px;

  }


.projects .projImge {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.projects .projImge img{
    position: relative;
    width: 33%;
    border-radius: 10px;
  }

.projTitle{
    color: var(--text--color);
}

.projDesc p {
    margin-bottom: 20px;
}
.projDesc{
    color: var(--text--color);
    border-bottom: 1px solid white;
}

/* Section fills the viewport and centers its contents */
#contactSection {
  
    display: flex;
    position: relative;
    flex-direction: column;
    top: 150vh;

    height: 50vh;

    
    margin: 0 10%;
    background-color: rgb(0, 0, 0);
    border: solid 2px var(--text--color);
    border-radius: 20px;
    padding: 10px;
    color: var(--text-color);

  }

/* Remove the manual top offset */
.contactContainer {
  display: flex;
  flex-direction: column;

  position: relative;
    

  margin: 0 50px;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  padding: 20px;
  color: var(--text-color);
}

.contactContainer h1 {
    font-size: 2.5em;
    margin: 10px;
    border-bottom: 1px solid white;
    color: var(--text--color);
}
  
.contactContainer h1,label {
  color: var(--text--color);
}


.contactContainer form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px;
  font-size: 1.5em;
}

.contactContainer input {
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
}

.contactContainer textarea{
  padding: 10px;
  border-radius: 5px;
}
.contactContainer button{
  position: absolute;
  border-radius: 5px;
  height: 40px;
  width: 20%;
  font-size: 1.1em;
  margin: 50px 0;

  bottom: -50px;

}

.contactContainer button:hover{
    background: var(--main--color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}