* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

:root {

    --text--color:  RGB(211,219,221);
    --main--color: linear-gradient(
    270deg,
    rgb(73, 230, 115) 50%,
    rgb(93, 154, 169)60%
  );

}

body{
    position: relative;
    height: 100vh;
    padding-top: 60px;

    background-color: rgb(8, 42, 45);
    
}

header{
    position: fixed;
    display: flex;
    height: 50px;
    width: 100%;

    background-color: rgba(0, 0, 0,0.1);
    backdrop-filter: blur(10px);

    padding: 5px;
    top: 0;

    z-index: 1000;
}

.Logo {
    flex-basis: 25%;
    position: relative;
    height: 100%;
    padding-top: 10px;
    padding-left:10px ;
    font-weight: 200;

}


.Logo a {
    color: var(--text--color);
    text-decoration: none;
    font-size: 1.5em;

}
.Logo p{
    font-weight: bold;
}

.mainInfo{
    flex-basis: 50%;
    text-align: center;
    height: 100%;
    padding-top: 10px;
   
}
.mainInfo a{
    position: relative;
    color: var(--text--color);
    text-decoration: none;
    padding: 50px;
    font-size: 1.5em;
    

}

.contact{
    flex-basis: 25%;
    text-align: center;
    height: 100%;

}

.contact button {
    width: 50%;
    height: 90%;
    border-radius: 20px;
    font-size: 1.5em;
    color: var(--text--color);
    
}

section{
    height: 100vh;              /* full screen height */
    margin: 0;                  /* no extra gaps */
    padding: 20px;
}

.homeSection{
    display: flex;
    position: relative;
    flex-direction: row;

    top: 200px;
    margin: 0 10%;

    background-color: black;
    border: solid  2px  var(--text--color);
    border-radius: 20px;
    padding: 10px;

    color: var(--text--color);
}



.picAbout {
    margin: 10px;
    flex-basis: 20%;
    
}

.aboutMe, .Introduction{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 100px 100px;
}

.aboutMe h1::first-letter, .Introduction h1::first-letter{
    font-size: 2em;
    background: var(--main--color);      
    -webkit-background-clip: text;       
    background-clip: text;               
    color: transparent;                 

}

.Introduction  h1 span , h2 span{

    background: var(--main--color);       /* your gradient */
    -webkit-background-clip: text;       /* clip background to text */
    background-clip: text;               /* standard property */
    color: transparent;                  /* hide normal text color */
}

.aboutMe p span , h1 span , h2 span{
  background: var(--main--color);      
  -webkit-background-clip: text;       
  background-clip: text;               
  color: transparent;                  
}


.aboutMe button , .Introduction button{
    border-radius: 20px;
    height: 30px;
    width: 100px;
    right: 0px;
    font-size: 1.1em;
    margin: 10px 5px;
    
}


.aboutSection{
    display: flex;
    position: relative;
    flex-direction: row;

    top: 200px;
    margin: 0 10%;

    background-color: black;
    border: solid  2px  var(--text--color);
    border-radius: 20px;
    padding: 10px;

    color: var(--text--color);
}

.aboutSection .mainInfo{
    flex-basis: 50%;
    text-align: center;
    height: 100%;
    padding-top: 10px;
   
}


.projectsSection{
    display: flex;
    position: relative;
    flex-direction: column;

    top: 200px;
    margin: 0 10%;

    background-color: black;
    border: solid  2px  var(--text--color);
    border-radius: 20px;
    padding: 10px;

    color: var(--text-color);
}
.skillsTitle{
    display: flex;
    justify-content: center;
    

    margin: 30px;
}

.skillsTitle h1{
    font-size: 2.5em;
    border-bottom: 1px solid white;
    width: 100%;  
    color: var(--text--color);

}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.skills svg:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease; /* optional: smooth animation */
  }


  .projectsTitle{
    display: flex;
    justify-content: center;
    

    margin: 30px;
}

.projectsTitle h1{
    font-size: 2.5em;
    border-bottom: 1px solid white;
    width: 100%;  
    color: var(--text--color);

}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
